twint==2.1.21
nltk==3.6.2
dataclasses==0.6
zipp==3.6.0
yfinance==0.1.67
yarl==1.7.2
yapf==0.31.0
xmltodict==0.12.0
xlrd==2.0.1
wurlitzer==3.0.2
wrapt==1.12.1
widgetsnbextension==3.5.1
whichcraft==0.6.1
Werkzeug==2.0.2
webencodings==0.5.1
wcwidth==0.2.5
watchdog==2.1.6
validators==0.18.2
urllib3==1.26.7
Unidecode==1.2.0
ujson==4.2.0
tzlocal==4.1
tzdata==2021.5
typing-extensions==3.10.0.2
typed-ast==1.4.3
tweepy==4.4.0
traitlets==5.1.1
tqdm==4.62.3
tornado==6.1
torchmetrics==0.6.1
torch==1.10.0
toolz==0.11.2
toml==0.10.2
tinycss==0.4
three-merge==0.1.1
threadpoolctl==3.0.0
textdistance==4.2.1
text-unidecode==1.3
testpath==0.5.0
terminado==0.9.4
tensorboard==2.7.0
tensorboard-plugin-wit==1.8.0
tensorboard-data-server==0.6.1
tenacity==8.0.1
streamlit==1.3.0
stevedore==3.5.0
statsmodels==0.12.1
SQLAlchemy==1.4.28
spyder==5.1.5
spyder-kernels==2.1.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-applehelp==1.0.2
Sphinx==4.2.0
soupsieve==2.3.1
sortedcontainers==2.4.0
snowballstemmer==2.2.0
sniffio==1.2.0
smmap==5.0.0
sktime==0.9.0
sklearn==0.0
six==1.16.0
setuptools==58.0.4
Send2Trash==1.8.0
seaborn==0.11.2
scipy==1.7.1
scikit-learn==1.0.1
schedule==1.1.0
ruamel-yaml-conda==0.15.100
Rtree==0.9.7
rsa==4.8
rope==0.21.1
requests==2.26.0
requests-oauthlib==1.3.0
regex==2021.8.3
QtPy==1.10.0
qtconsole==5.1.1
QtAwesome==1.0.3
qstylizer==0.1.10
QDarkStyle==3.0.2
pyzmq==22.3.0
PyYAML==6.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pytorch-lightning==1.5.5
pytorch-forecasting==0.9.2
python-socks==2.0.1
python-slugify==5.0.2
python-lsp-server==1.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-black==1.0.0
python-dateutil==2.8.2
PySocks==1.7.1
pyrsistent==0.18.0
pyperclip==1.8.2
pyparsing==3.0.4
pyOpenSSL==21.0.0
Pympler==1.0.1
pyls-spyder==0.4.0
pylint==2.9.6
Pygments==2.10.0
pyflakes==2.3.1
pydocstyle==6.1.1
pyDeprecate==0.3.1
pydeck==0.7.1
pycparser==2.21
pycosat==0.6.3
pycodestyle==2.7.0
pycares==4.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyarrow==6.0.1
PuLP==2.5.1
ptyprocess==0.7.0
psutil==5.8.0
protobuf==3.19.1
prompt-toolkit==3.0.20
prometheus-client==0.12.0
prettytable==2.4.0
poyo==0.5.0
pluggy==1.0.0
plotly==5.5.0
pkginfo==1.7.1
Pillow==8.4.0
pickleshare==0.7.5
pexpect==4.8.0
pbr==5.8.0
patsy==0.5.2
pathspec==0.7.0
parso==0.8.3
pandocfilters==1.4.3
pandas==1.3.4
packaging==21.3
optuna==2.10.0
olefile==0.46
oauthlib==3.1.1
numpydoc==1.1.0
numpy==1.21.2
numexpr==2.8.1
numba==0.54.1
notebook==6.4.6
nest-asyncio==1.5.1
nbformat==5.1.3
nbconvert==6.3.0
nbclient==0.5.3
nbclassic==0.2.6
navigator-updater==0.2.1
mypy-extensions==0.4.3
munkres==1.1.4
multitasking==0.0.10
multidict==5.2.0
mkl-service==2.4.0
mkl-random==1.2.2
mkl-fft==1.3.1
mistune==0.8.4
mccabe==0.6.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
MarkupSafe==2.0.1
Markdown==3.3.6
Mako==1.1.6
lxml==4.7.1
llvmlite==0.37.0
lightgbm==3.2.1
libarchive-c==2.9
lazy-object-proxy==1.6.0
kiwisolver==1.3.1
keyring==23.4.0
jupyterlab==3.2.1
jupyterlab-widgets==1.0.0
jupyterlab-server==2.10.2
jupyterlab-pygments==0.1.2
jupyter-server==1.4.1
jupyter-core==4.9.1
jupyter-client==6.1.12
jsonschema==3.2.0
json5==0.9.6
joblib==1.1.0
Jinja2==3.0.3
jinja2-time==0.2.0
jedi==0.18.0
itsdangerous==2.0.1
isort==5.9.3
ipywidgets==7.6.5
ipython==7.29.0
ipython-genutils==0.2.0
ipykernel==6.4.1
intervaltree==3.1.0
inflection==0.5.1
importlib-resources==5.4.0
importlib-metadata==4.8.2
imagesize==1.3.0
idna==3.3
grpcio==1.42.0
greenlet==1.1.2
googletransx==2.4.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
glob2==0.7
GitPython==3.1.24
gitdb==4.0.9
geopy==2.2.0
geographiclib==1.52
future==0.18.2
fsspec==2021.11.1
frozenlist==1.2.0
fonttools==4.25.0
Flask==2.0.2
Flask-Compress==1.10.1
flake8==3.9.2
filelock==3.4.0
fake-useragent==0.1.11
entrypoints==0.3
elasticsearch==7.16.2
docutils==0.17.1
diff-match-patch==20200713
Deprecated==1.2.13
defusedxml==0.7.1
decorator==5.1.0
debugpy==1.5.1
dash==2.0.0
dash-table==5.0.0
dash-html-components==2.0.0
dash-core-components==2.0.0
cycler==0.11.0
cryptography==36.0.0
cookiecutter==1.7.2
conda==4.11.0
conda-verify==3.4.2
conda-token==0.3.0
conda-repo-cli==1.0.4
conda-package-handling==1.7.3
conda-content-trust==0+unknown
conda-build==3.21.4
colorlog==6.6.0
colorama==0.4.4
cmd2==2.3.3
cmaes==0.8.2
clyent==1.2.2
cloudpickle==2.0.0
cliff==3.10.0
click==8.0.3
charset-normalizer==2.0.4
chardet==4.0.0
cffi==1.14.6
certifi==2021.10.8
cchardet==2.1.7
cachetools==4.2.4
brotlipy==0.7.0
Brotli==1.0.9
Bottleneck==1.3.2
blinker==1.4
bleach==4.0.0
black==19.10b0
binaryornot==0.4.4
beautifulsoup4==4.10.0
base58==2.1.1
backports.zoneinfo==0.2.1
backports.weakref==1.0.post1
backports.tempfile==1.0
backports.functools-lru-cache==1.6.4
backcall==0.2.0
Babel==2.9.1
autopep8==1.6.0
autopage==0.4.0
attrs==21.2.0
atomicwrites==1.4.0
async-timeout==4.0.1
async-generator==1.10
astroid==2.6.6
astor==0.8.1
arrow==0.13.1
argon2-cffi==20.1.0
appnope==0.1.2
applaunchservices==0.2.1
appdirs==1.4.4
anyio==2.2.0
anaconda-navigator==2.0.3
anaconda-client==1.9.0
altair==4.1.0
alembic==1.7.5
alabaster==0.7.12
aiosignal==1.2.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiodns==3.0.0
absl-py==1.0.0
